.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 94px 50px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    font-size: 18px;
    line-height: 117%;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    letter-spacing: 0.01em;
    text-underline-offset: 4px;
}

.header__link_active {
    letter-spacing: normal;
    text-decoration: none;
}

.header__logo {
    display:block;
    width: 134px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 135%;
    letter-spacing: 0.01em;
    text-underline-offset: 4px;
}

.address-name {
    letter-spacing: normal;
}

.header__address {
    justify-self: end;
}

.cover {
    position: relative;
    z-index: 1;
    padding: 164.45px 50px 51px;
    color: #fff;
    text-transform: uppercase;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color:rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
    line-height: 115%;
}

.aligned-text_center {
    display: block;
    margin: 20px 0;
    line-height: 100%;
    text-align: center;
}

.aligned-text_right {
    display: block;
    line-height: 100%;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 79px;
    margin-top: 135px;
}

.cover__description-text {
    font-size: 22px;
    line-height: 127%;
    word-spacing: 18.5px;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 118%;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    padding: 197px 24px 146px;
}

.lots__heading {
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 28%;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1052px;
    margin: 44.2px 0 31px;
    list-style: none;
}

.lots__card-list-item {
    flex-grow: 1;
    width: 334px;
    min-height: 563px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 51px 40px 48px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}

.card__text {
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    line-height: 115%;
    text-decoration-skip-ink: none;
    text-underline-position: under;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    justify-items: center;
    gap: 25px;
    padding: 0 24px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 149px;
    height: 114px;
}

.about__title {
    margin: 136px 0 99.8px;
    font-weight: 700;
    font-size: 40px;
    line-height: 118%;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 120%;
}

.about__text_letter-spacing {
    letter-spacing: 0.005em;
}

.about__text_another-letter-spacing {
    letter-spacing: 0.009em;
}

.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    padding: 180px 50px 88.8px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 117%;
    text-align: center;
    list-style: none;
}

.footer__menu-link {
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}